.aside {
    background-color: gainsboro;
    border: 1px solid black;
    float: left;
    height: 100%;
    position: fixed;
    top: 3.5em;
    width:20%;
    z-index: 100;
}

.aside-list {
    padding: 0;
    li {
        text-align: left;
    }
}
