.aside {
    background-color: gainsboro;
    float: left;
    height: 35%;
    position: fixed;
    top: 33%;
    width:25%;
    z-index: 100;
    clip-path:  polygon(0% 0%, 100% 0%, 80% 50%, 100% 100%, 0% 100%);
}

.aside-list {
    padding: 0;
    li {
        text-align: left;
    }
}
