@import '../../assets/sass/colors';

.about-title {
    background-color: $primaryColor;
    clip-path:  polygon(3% 26%, 7% 0%, 77% 0%, 81% 20%, 83% 65%, 80% 100%, 3% 100%, 2% 68%);
    margin-top: 0.2em;
    padding-left: 2em;
}