.navbar {
    background-color: gainsboro;
    border: 1px solid black;
    height: 3.5em;
    padding: 10px;
    position: fixed;
    width:95%;
    z-index: 100;

    .navbar-list {
        display: inline;
        ul {
            li {
                float: left;
                margin-right: 5px;
                text-transform: uppercase;
            }
        }
    }
    

    .btn-logout{
        float: right;
        margin-right: 10px;
    }

    .openAside {
        display: inline;
        margin: 0.8em 0 0 0.8em;
    }
}

@media only screen and (min-width: 600px) {
    .navbar {
        padding: 0;
    }
}