.navbar {
    background-color: gainsboro;
    cursor: pointer;
    height: 3em;
    padding: 1em 0;
    width: 100%;
    ul {
        li {
            display: inline;
            margin-right: 1em; 
        }
    }
}