.modal {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.modal-container {
    background-color: white;
    height: 200px;
    width: 200px;
}

.modal-container {
    
}

.modal-header {

}

.modal-section {
    
}

.modal-footer {
    
}