@import 'assets/css/grid/bootstrap-grid.min.css';
@import 'assets/sass/colors';
@import 'assets/sass/base';

#app-root{
    background-color: $fourthColor;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    color: $secondColor;

    a {
        color: $secondColor;
    }

    a:hover {
        color: $thirdColor;
    }

    button {
        background-color: $thirdColor;
        border-radius: 3px;
    }
}

// Fonts
// for example: @import 'assets/sass/fonts';